<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.review.mapper.ReviewMapper">



    <insert id="regist" parameterType="ReviewDto">
        INSERT INTO Review (ID)
        VALUES (#{id})
    </insert>

    <select id="findAll" resultType="ReviewDto">
        SELECT ID,NAME, KOR_SCORE, ENG_SCORE, MATH_SCORE FROM Review
    </select>


    <update id="modify" parameterType="ReviewDto">
        UPDATE Review SET KOR_SCORE=#{korScore},
                              ENG_SCORE=#{engScore}, MATH_SCORE=#{mathScore}
        WHERE ID=#{id}
    </update>


    <delete id="delete" parameterType="ReviewDto">
        DELETE FROM Review
        WHERE ID = #{id}
    </delete>


    <select id="findSearch" parameterType="ReviewDto" resultType="ReviewDto">
        SELECT ID,NAME, KOR_SCORE, ENG_SCORE, MATH_SCORE
        FROM Review
        <if test='keyword!=null and keyword!=""'>
            where ${searchCode} = #{keyword} <!-- $표시 -> statement -->
        </if>
    </select>

</mapper>