<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.review.mapper.ReviewMapper">



    <insert id="regist" parameterType="ReviewDto">
        INSERT INTO ReviewThx (regionCategory, reviewTitle, reviewContext, donator, receiver, reviewDate, reviewImage)
        VALUES (#{regionCategory}, #{reviewTitle}, #{reviewContext}, #{donator}, #{receiver}, NOW())
    </insert>

    <select id="findAll" resultType="ReviewDto">
        SELECT regionCategory, reviewTitle, reviewContext, donator, receiver, reviewDate, reviewImage
        FROM ReviewThx
    </select>

    <update id="modify" parameterType="ReviewDto">
        UPDATE ReviewThx SET reviewTitle=#{reviewTitle},
                             reviewContext=#{reviewContext}, reviewDate=NOW()
        WHERE donator = #{donator}
    </update>


    <delete id="delete" parameterType="ReviewDto">
        DELETE FROM ReviewThx
        WHERE reviewTitle = #{reviewTitle} + donator = #{donator}
    </delete>

<!--    <update>-->


<!--    </update>-->

</mapper>