<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.review.mapper.ReviewMapper">



    <insert id="regist" parameterType="ReviewDto">
        INSERT INTO ReviewThx (regionCategory, reviewTitle, reviewContext, writer, reviewDate)
        VALUES (#{regionCategory}, #{reviewTitle}, #{reviewContext}, #{writer}, #{reviewDate})
    </insert>

    <select id="findAll" resultType="ReviewDto">
        SELECT regionCategory, reviewTitle, reviewContext, writer, reviewDate
        FROM ReviewThx
    </select>


    <update id="modify" parameterType="ReviewDto">
        UPDATE ReviewThx SET reviewTitle=#{reviewTitle},
                             reviewContext=#{reviewContext}, reviewDate=#{reviewDate}
        WHERE writer = #{writer}
    </update>


    <delete id="delete" parameterType="ReviewDto">
        DELETE FROM ReviewThx
        WHERE reviewTitle = #{reviewTitle} + writer = #{writer}
    </delete>


</mapper>