<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.restaurant.mapper.RestaurantMapper">

    <!-- 기부자(음식점) 회원 로그인 -->
    <select id="login" parameterType="RestaurantDto" resultType="RestaurantDto">
        SELECT ID, PASSWORD, NAME, PHONENUM, ADTEL, ADNAME, ADDRESS, BNUM, PROFILEIMAGE, TOKEN
        FROM Restaurant
        WHERE ID=#{id} AND PASSWORD=#{password}
    </select>

    <!-- 기부자(음식점) 회원 등록 -->
    <insert id="regist" parameterType="RestaurantDto">
        INSERT INTO Restaurant (ID, PASSWORD, NAME, PHONENUM, ADTEL, ADNAME, ADDRESS, BNUM, PROFILEIMAGE)
        VALUES (#{id},#{password},#{name},#{phoneNum},#{adTel},#{adName},#{address},#{bNum}, #{profileImage})
    </insert>

    <!-- 기부자(음식점) 전체 정보 검색 -->
    <select id="findAll" resultType="RestaurantDto">
        SELECT ID, PASSWORD, NAME, PHONENUM, ADTEL, ADNAME, ADDRESS, BNUM, PROFILEIMAGE, TOKEN FROM Restaurant
    </select>

    <!-- 기부자(음식점) 정보 수정 -->
    <update id="modify" parameterType="RestaurantDto">
        UPDATE Restaurant SET PASSWORD=#{password},
                              ADDRESS=#{address}, ADTEL=#{adTel}, ADNAME=#{adName}, PROFILEIMAGE=#{profileImage}
        WHERE ID=#{id}
    </update>

    <!-- 기부자(음식점) 정보 삭제 -->
    <delete id="delete" parameterType="RestaurantDto">
        DELETE FROM Restaurant
        WHERE ID = #{id}
    </delete>

    <!-- 기부자(음식점) 로그인 -->
    <select id="findSearch" parameterType="RestaurantDto" resultType="RestaurantDto">
        SELECT ID, PASSWORD
        FROM Restaurant
        where ID = #{id} AND PASSWORD = #{password}<!-- $표시 -> statement -->

    </select>

    <!-- 피기부자(보육시설) 토큰등록 -->
    <update id="addToken" parameterType="RestaurantDto">
        UPDATE Restaurant
        SET TOKEN=#{token}
        WHERE ID = #{id}
    </update>

</mapper>