<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.food.mapper.FoodMapper">



    <insert id="regist" parameterType="FoodDto">
        INSERT INTO Food (ID, FOODNAME, FOODAMONUT, FOODPRICE, FOODTEL, FOODADDRESS, FOODGIVER, FOODIMAGE, FOODUPLOADTIME)
        VALUES (#{id}, #{foodName}, #{foodAmount}, #{foodPrice}, #{foodTel}, #{foodAddress}, #{foodGiver}, #{foodImage}, NOW())
    </insert>

    <select id="findAll" resultType="FoodDto">
        SELECT FOODNAME, FOODAMONUT, FOODPRICE, FOODTEL, FOODADDRESS, FOODGIVER, FOODIMAGE, FOODUPLOADTIME
        FROM Food
    </select>


    <update id="modify" parameterType="FoodDto">
        UPDATE Food SET FOODNAME=#{foodName}, FOODAMONUT=#{foodAmount}, FOODPRICE=#{foodPrice}, FOODIMAGE=#{fooImage}, FOODUPLOADTIME=NOW()
        WHERE ID=#{id}
    </update>


    <delete id="delete" parameterType="FoodDto">
        DELETE FROM Food
        WHERE ID=#{id} AND FOODNAME=#{foodName}
    </delete>


</mapper>