<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.donation.mapper.DonationMapper">



    <insert id="regist" parameterType="DonationDto">
        INSERT INTO Donation ( DONATEDDATE, DONATEDPROVIDER, DONATEDRECEIVER, DONATEDAMOUNT, DONATEDPRICE, ISREVIEWED, FOODTITLE)
        VALUES (#{donatedDate},#{donatedProvider},#{donatedReceiver},#{donatedAmount},#{donatedPrice},#{isReviewed},#{foodTitle})
    </insert>

    <select id="findAll" resultType="DonationDto">
        SELECT DONATEDDATE, DONATEDPROVIDER, DONATEDRECEIVER, DONATEDAMOUNT, DONATEDPRICE, ISREVIEWED, FOODTITLE
        FROM DonationHistory
    </select>


    <update id="modify" parameterType="DonationDto">
        UPDATE DonationHistory SET DONATEDDATE=#{donatedDate},DONATEDRECEIVER=#{donatedReceiver},DONATEDAMOUNT=#{donatedAmount},FOODTITLE=#{foodTitle}
        WHERE FOODTITLE=#{foodTitle}
    </update>


    <select id="findByIdP" parameterType="DonationDto" resultType="DonationDto">
        SELECT DONATEDDATE, DONATEDPROVIDER, DONATEDRECEIVER, DONATEDAMOUNT, DONATEDPRICE, ISREVIEWED, FOODTITLE
        FROM   DonationHistory
        where  DONATEDPROVIDER=#{donatedProvider}
    </select>

    <select id="findByIdR" parameterType="DonationDto" resultType="DonationDto">
        SELECT DONATEDDATE, DONATEDPROVIDER, DONATEDRECEIVER, DONATEDAMOUNT, DONATEDPRICE, ISREVIEWED, FOODTITLE
        FROM   DonationHistory
        where  DONATEDRECEIVER=#{donatedReceiver}
    </select>

    <update id="IsReviewed" parameterType="DonationDto">
        UPDATE DonationHistory
        SET ISREVIEWED=1
        WHERE DONATEDPROVIDER=#{donatedProvider} AND FOODTITLE=#{foodTitle}
    </update>

</mapper>