<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.donation.mapper.DonationMapper">



    <insert id="regist" parameterType="DonationDto">
        INSERT INTO Donation (ID)
        VALUES (#{id})
    </insert>

    <select id="findAll" resultType="DonationDto">
        SELECT DONATEDDATE, DONATEDPROVIDER, DONATEDRECEIVER, DONATEDAMOUNT, DONATEDPRICE, ISREVIEWED, FOODTITLE
        FROM DonationHistory
    </select>


    <update id="modify" parameterType="DonationDto">
        UPDATE DonationHistory SET DONATEDDATE=#{donatedDate},DONATEDRECEIVER=#{donatedReceiver},DONATEDAMOUNT=#{donatedAmount},FOODTITLE=#{foodTitle}
        WHERE DONATEDPROVIDER=#{donatedProvider}
    </update>


    <delete id="delete" parameterType="DonationDto">
        DELETE FROM DonationHistory
        WHERE DONATEDPROVIDER = #{donatedProvider}
    </delete>


    <select id="findSearch" parameterType="DonationDto" resultType="DonationDto">
        SELECT DONATEDDATE, DONATEDPROVIDER, DONATEDRECEIVER, DONATEDAMOUNT, DONATEDPRICE, ISREVIEWED, FOODTITLE
        FROM DonationHistory
<!--        <if test='keyword!=null and keyword!=""'>-->
            where ${searchCode} = #{keyword} <!-- $표시 -> statement -->
<!--         </if>-->
    </select>



</mapper>