<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.admin.mapper.AdminMapper">

    <!-- 보육시설 변경 요청 -->
    <insert id="requestAdmin" parameterType="AdminDto" >
        Insert INTO Admin (ID, MANAGERNAME, ADTEL, ADNAME, ADDRESS, INTRODUCTION, totalHc)
        VALUES (#{id},#{managerName},#{adTel},#{adName},#{address},#{introduction}, #{totalHc})
    </insert>

    <select id="findAll" resultType="AdminDto">
        SELECT ID, MANAGERNAME, ADTEL, ADNAME, ADDRESS, INTRODUCTION, totalHc
        FROM Admin
    </select>

    <delete id="delete" parameterType="AdminDto">
        DELETE FROM Admin
        WHERE ID=#{id} AND MANAGERNAME=#{managerName} AND ADTEL=#{adTel} AND ADNAME=#{adName} AND ADDRESS=#{address} AND totalHc=#{totalHc}
    </delete>

</mapper>