<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.member.mapper.MemberMapper">



    <insert id="regist" parameterType="MemberDto">
        INSERT INTO Member (ID)
        VALUES (#{id})
    </insert>

    <select id="findAll" resultType="MemberDto">
        SELECT ID,NAME, KOR_SCORE, ENG_SCORE, MATH_SCORE FROM Member
    </select>


    <update id="modify" parameterType="MemberDto">
        UPDATE Member SET KOR_SCORE=#{korScore},
                        ENG_SCORE=#{engScore}, MATH_SCORE=#{mathScore}
        WHERE ID=#{id}
    </update>


    <delete id="delete" parameterType="MemberDto">
        DELETE FROM Member
        WHERE ID = #{id}
    </delete>


    <select id="findSearch" parameterType="MemberDto" resultType="MemberDto">
        SELECT ID,NAME, KOR_SCORE, ENG_SCORE, MATH_SCORE
        FROM Member
        <if test='keyword!=null and keyword!=""'>
            where ${searchCode} = #{keyword} <!-- $표시 -> statement -->
        </if>
    </select>


</mapper>