<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.member.mapper.MemberMapper">

    <!-- 피기부자(보육시설) 회원 로그인 -->
    <select id="login" parameterType="MemberDto" resultType="MemberDto">
        SELECT ID, PASSWORD, MANAGERNAME, PHONENUM, ADTEL, ADNAME, ADDRESS, TOTALHC, CURRHC, INTRODUCTION, PROFILEIMAGE, TOKEN
        FROM Member
        WHERE ID=#{id} AND PASSWORD=#{password}
    </select>


    <!-- 피기부자(보육시설) 회원 등록 -->
    <insert id="regist" parameterType="MemberDto">
        INSERT INTO Member (ID, PASSWORD, MANAGERNAME, PHONENUM, ADTEL, ADNAME, ADDRESS, TOTALHC, CURRHC, INTRODUCTION, PROFILEIMAGE, TOKEN)
        VALUES (#{id},#{password},#{managerName},#{phoneNum},#{adTel},#{adName},#{address},#{totalHc},#{currHc},#{introduction},#{profileImage}, NULL)
    </insert>

    <!-- 피기부자(보육시설) 전체 정보 검색 -->
    <select id="findAll" resultType="MemberDto">
        SELECT ID, PASSWORD, MANAGERNAME, PHONENUM, ADTEL, ADNAME, ADDRESS, TOTALHC, CURRHC, INTRODUCTION, PROFILEIMAGE, TOKEN FROM Member
    </select>

    <!-- 피기부자(보육시설) 정보 수정 -->
    <update id="modify" parameterType="MemberDto">
        UPDATE Member SET PASSWORD=#{password},
                          INTRODUCTION=#{introduction}, ADTEL=#{adTel}, ADNAME=#{adName}, ADDRESS=#{address}, TOTALHC=#{totalHc}, PROFILEIMAGE=#{profileImage}
        WHERE ID=#{id}
    </update>

    <!-- 피기부자(보육시설) 정보 삭제 -->
    <delete id="delete" parameterType="MemberDto">
        DELETE FROM Member
        WHERE ID = #{id}
    </delete>


    <!-- 피기부자(보육시설) 로그인 -->
    <select id="findSearch" parameterType="MemberDto" resultType="MemberDto">
        SELECT ID, PASSWORD
        FROM Member
        where ID = #{id} AND PASSWORD = #{password} <!-- $표시 -> statement -->
    </select>

    <!-- 피기부자(보육시설) 토큰등록 -->
    <update id="addToken" parameterType="MemberDto">
        UPDATE Member
        SET EXPOTOKEN=#{expotoken} AND FCMTOKEN=#{fcmtoken}
        WHERE ID = #{id}
    </update>


</mapper>