<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.00//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sona.gi.model.foodReq.mapper.FoodReqMapper">


    <insert id="regist" parameterType="FoodReqDto">
        INSERT INTO DonationRequest (serving, foodName, receiver, sender, senderImage,sendTime, receiverId, foodPrice, senderTel,senderId)
        VALUES (#{serving},#{foodName},#{receiver},#{sender},#{senderImage},NOW(),#{receiverId},#{foodPrice}, #{senderTel}, #{senderId})
    </insert>

    <!-- 피기부자(보육시설) 아이디로 찾기 -->
    <select id="findById" parameterType="FoodReqDto" resultType="FoodReqDto">
        SELECT *
        FROM DonationRequest
        where receiverId = #{receiverId}
    </select>

    <select id="findByIdFoodName" parameterType="FoodReqDto" resultType="FoodReqDto">
        SELECT *
        FROM DonationRequest
        where receiverId = #{receiverId} AND foodName = #{foodName}
    </select>

    <select id="findByIdFoodNameSenderId" parameterType="FoodReqDto" resultType="FoodReqDto">
        SELECT *
        FROM DonationRequest
        where receiverId = #{receiverId} AND foodName = #{foodName} AND senderId = #{senderId}
    </select>

    <delete id="delete" parameterType="FoodReqDto">
        DELETE FROM DonationRequest
        WHERE senderId = #{senderId} AND serving = #{serving} AND receiver = #{receiver} AND foodName = #{foodName}
    </delete>

    <select id="findBySenderId" parameterType="FoodReqDto" resultType="FoodReqDto">
        SELECT *
        FROM DonationRequest
        where senderId = #{senderId}
    </select>

    <delete id="senderDelete" parameterType="FoodReqDto">
        DELETE FROM DonationRequest
        WHERE senderId = #{senderId} AND receiverId = #{receiverId} AND foodName = #{foodName}
    </delete>

</mapper>